
section article {
	padding: 20px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

section article:last-child {
	border-bottom: none;
}

section article * {
	display: flex;
	flex-direction: column;
	font-size: 14px;
}

section article date {
	margin-bottom: 10px;
	text-align: center;
	font-size: 18px;
	text-decoration: underline;
}

section article ul {
	list-style-type: square;
}

section article ul li {
	display: list-item;
	margin-left: 20px;
	padding-left: 10px;
	line-height: 30px;
	font-size: 16px;
}

section li.todo {
	opacity: 0.5;
}

section li.todo:before {
	content: "[TODO]";
	margin-right: 10px;
}

section article ul li ul {
	list-style-type: none;
}

section article ul li ul li {
	margin-left: 0;
}

section ul li img {
	display: inline-block;
	width: 25px;
}
