
board {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: auto;
	padding: 20px;
	border-width: 5px;
	border-style: solid;
	border-top-color: rgba(255, 255, 255, 0.05);
	border-left-color: rgba(255, 255, 255, 0.05);
	border-right-color: rgba(0, 0, 0, 0.2);
	border-bottom-color: rgba(0, 0, 0, 0.2);
	background: #1D2A37;
	transition: all 0.05s ease;
}

board div {
	display: flex;
	flex-direction: row;
}

well, hitboxes, next, items {
	display: flex;
	background: rgba(0, 0, 0, 0.7);
	border-width: 6px;
	border-style: solid;
	border-top-color: #10171F;
	border-left-color: #10171F;
	border-right-color: #21303D;
	border-bottom-color: #263747;
	border-radius: 3px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 2px 5px rgba(0, 0, 0, 0.3) inset;
}

well {
	margin-right: 20px;
	margin-bottom: 20px;
}

next {
	align-items: center;
	justify-content: center;
}

well column:nth-child(even) {
	background: rgba(255, 255, 255, 0.04);
}

well column:nth-child(odd) {
	background: rgba(255, 255, 255, 0.02);
}

tetrimino {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	
}

tetrimino, square, well column {
	transition: all 0.13s ease;	
}

square {
	font-size: 12px;
	line-height: 200%;
	text-align: center;
	/* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3) inset; */
	border-width: 0;
	border-style: solid;
	border-top-color: rgba(255, 255, 255, 0.3);
	border-left-color: rgba(255, 255, 255, 0.3);
	border-right-color: rgba(0, 0, 0, 0.3);
	border-bottom-color: rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}

well > square {
	position: absolute;
	display: block;
}

square.O {
	background-color: rgb(255, 255, 60);
}

square.I {
	background-color: rgb(60, 255, 255);
}

square.S {
	background-color: rgb(60, 255, 60);
}

square.Z {
	background-color: rgb(255, 60, 60);
}

square.L {
	background-color: rgb(255, 165, 60);
}

square.J {
	background-color: rgb(60, 60, 255);
}

square.T {
	background-color: rgb(128, 60, 128);
}

square.invisible {
	background-color: transparent;
	box-shadow: none;
	border-color: transparent;
}

items {
	width: 100%;
	height: 26px;
}

items item {
	width: 20px;
	height: 20px;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
	border: 3px outset rgba(255, 255, 255, 0.5);
}
