
board {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	padding: 20px;
	background: gray;
}

well, hitboxes, next, board div > * {
	display: flex;
	border: 6px solid gray;
	background: black;
}

board div {
    display: flex;
	flex-direction: column;
	align-content: stretch;
}

board div > * {
	padding: 10px;
	text-align: center;
	color: white;
}

well, hitboxes {
	margin-right: 20px;
}

hitboxes {
	flex-wrap: wrap;
	background: white;
}

next {
	align-items: center;
	justify-content: center;
}

well column:nth-child(even) {
	background: rgba(255, 255, 255, 0.1);
}

well column:nth-child(odd) {
	background: rgba(255, 255, 255, 0.06);
}

tetrimino {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	
}

tetrimino, square, well column {
	transition: all 0.13s ease;	
}

square {
	font-size: 12px;
	line-height: 200%;
	text-align: center;
	/* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3) inset; */
	border-style: solid;
	border-width: 0;
	border-top-color: rgba(255, 255, 255, 0.3);
	border-left-color: rgba(255, 255, 255, 0.3);
	border-right-color: rgba(0, 0, 0, 0.3);
	border-bottom-color: rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}

well > square {
	position: absolute;
	display: block;
}

square.O {
	background-color: rgb(255, 255, 60);
}

square.I {
	background-color: rgb(60, 255, 255);
}

square.S {
	background-color: rgb(60, 255, 60);
}

square.Z {
	background-color: rgb(255, 60, 60);
}

square.L {
	background-color: rgb(255, 165, 60);
}

square.J {
	background-color: rgb(60, 60, 255);
}

square.T {
	background-color: rgb(128, 60, 128);
}

square.invisible {
	background-color: transparent;
	box-shadow: none;
	border-color: transparent;
}
