
/* Lobby structure */

lobby, lobby.visible {
	display: flex;
	flex-direction: column;
}

lobby.invisible {
	display: none;
}

lobby > * {
	flex: 1;
	margin: 20px 0;
}

lobby article {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*flex-wrap: wrap; TODO sous une certaine width, dire que le chat a un flex de 1 et pas de marge à gauche */
}

lobby article > * {
	flex: 1;
}

lobby chat {
	flex: 0.5;
	display: flex;
	min-width: 500px;
	min-height: 300px;
	margin-left: 40px;
	flex-direction: column;
}

/* Players list and player button and player input */

lobby input {
	border: none;
	background: none;
}

lobby button {
	display: none;
	flex: 0.075;
}

lobby button#close {
	flex: 0.2;
}

lobby ul#players li {
	display: flex;
	padding: 0 20px;
}

lobby ul#players li * {
	flex: 1;
	line-height: 150%;
	padding: 10px 0;
}

lobby ul#players li ready {
	flex: 0.3;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.2);
}

lobby ul#players li ready.ready {
	color: #2A4120;
}

lobby ul#players li:nth-child(even) {
	background: linear-gradient(to left, rgba(255, 255, 255, 0.05), transparent); 
}

lobby ul#players li:nth-child(odd) {
	background: linear-gradient(to left, rgba(255, 255, 255, 0.025), transparent); 
}

/* Messages list */

lobby chat input {
	padding: 5px;
	line-height: 16px;
	font-size: 16px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	background: rgba(255, 255, 255, 0.05);
}

lobby chat ul#messages {
	flex:1;
	background: rgba(0, 0, 0, 0.2);	
}

/* Game */

game, game.invisible {
	display: none;
	flex-direction: row;
	justify-content: center;
}

game.visible {
	display: flex;
}
