
/* Lobby structure */

lobby, lobby.visible {
	display: flex;
	flex-direction: column;
}

lobby.invisible {
	display: none;
}

lobby > * {
	flex: 1;
	margin-bottom: 40px;
}

lobby article {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*flex-wrap: wrap; TODO sous une certaine width, dire que le chat a un flex de 1 et pas de marge à gauche */
}

lobby article > * {
	flex: 1;
}

/* Players list and player button and player input */

lobby input {
	border: none;
	background: none;
}

lobby button {
	display: none;
	flex: 0.075;
}

lobby button#close {
	flex: 0.2;
}

lobby ul#players li {
	display: flex;
	padding: 0 20px;
}

lobby ul#players li * {
	flex: 1;
	line-height: 150%;
	padding: 10px 0;
}

lobby ul#players li ready {
	flex: 0.3;
	font-weight: bold;
	color: transparent;
}

lobby ul#players li ready.ready {
	color: #2A4120;
}

lobby ul#players li:nth-child(even) {
	background: linear-gradient(to left, rgba(255, 255, 255, 0.05), transparent); 
}

lobby ul#players li:nth-child(odd) {
	background: linear-gradient(to left, rgba(255, 255, 255, 0.025), transparent); 
}

/* Messages list */

lobby chat {
	flex: 0.5;
	display: flex;
	margin-left: 40px;
	flex-direction: column;
}

lobby chat * {
	line-height: 16px;
	font-size: 16px;
}

lobby chat form {
	display: flex;
}

lobby chat form input {
	flex: 1;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	background: rgba(255, 255, 255, 0.05);
}

lobby chat form input:focus {
	border: 1px solid rgba(0, 0, 0, 0.8);
}

lobby chat ul#messages {
	flex: 1;
	min-height: 50vh;
	max-height: 50vh;
	overflow: auto;
	background: rgba(0, 0, 0, 0.2);	
}

lobby chat ul#messages li {
	flex:1;
	display: flex;
}

lobby chat ul#messages li pseudo {
	margin-right: 5px;
	color: gray;
}

/* Game */

game, game.invisible {
	display: none;
	flex-direction: row;
	justify-content: flex-start;
}

game.visible {
	display: flex;
}

game others {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

game others player {
	flex: 0.15;
	height: 50%;
	display: flex;
	flex-direction: column;
}

game others player field {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.7);
}

game others player field row {
	flex: 1;
	display: flex;
	flex-direction: row;
}

game others player field row square {
	flex: 1;
}
