
/* Lobby structure */

lobby {
	display: flex;
	flex-direction: column;
}

lobby.invisible {
	display: none;
}

lobby > * {
	flex: 1;
	margin-bottom: 40px;
}

lobby article {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*flex-wrap: wrap; TODO sous une certaine width, dire que le chat a un flex de 1 et pas de marge à gauche */
}

lobby article > * {
	flex: 1;
}

/* Players list and player button and player input */

lobby input {
	border: none;
	background: none;
}

lobby button {
	display: none;
	flex: 0.075;
}

lobby button#close {
	flex: 0.2;
}

lobby ul#players li {
	display: flex;
	padding: 0 20px;
}

lobby ul#players li > * {
	flex: 1;
	line-height: 150%;
	padding: 10px 0;
}

lobby ul#players li:nth-child(even) {
	background: linear-gradient(to left, rgba(255, 255, 255, 0.05), transparent); 
}

lobby ul#players li:nth-child(odd) {
	background: linear-gradient(to left, rgba(255, 255, 255, 0.025), transparent); 
}

lobby ul#players li.ready {
	background: linear-gradient(to left, #1B2C13, transparent); 	
}

lobby ul#players li winner {
	flex: 0.3;
	font-weight: bold;
	color: transparent;
}

lobby ul#players li winner.true {
	color: #BFD308;
}

lobby ul#players li stats {
	display: none;
}

lobby ul#players li medals {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

lobby ul#players li medals medal {
	margin-left: 10px;
	cursor: default;
}

lobby ul#players li medals medal img {
	width: 25px;
}
	
lobby ul#players li medals medal bubble {
	display: none;
	position: absolute;
	margin-left: 30px;
	margin-top: -35px;
	padding: 5px 10px;
	line-height: 20px;
	font-size: 10px;
	color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.05);
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
}

lobby ul#players li medals medal:hover bubble {
	display: block;
}

/* Messages list */

lobby chat {
	flex: 0.5;
	display: flex;
	margin-left: 40px;
	flex-direction: column;
}

lobby chat * {
	line-height: 16px;
	font-size: 16px;
}

lobby chat form {
	display: flex;
}

lobby chat form input {
	flex: 1;
	padding: 5px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	background: rgba(255, 255, 255, 0.05);
}

lobby chat form input:focus {
	border: 1px solid rgba(0, 0, 0, 0.8);
}

lobby chat ul#messages {
	flex: 1;
	min-height: 50vh;
	max-height: 50vh;
	overflow: auto;
	background: rgba(0, 0, 0, 0.2);	
}

lobby chat ul#messages li {
	flex:1;
	display: flex;
}

lobby chat ul#messages li > * {
	line-height: 20px;
}

lobby chat ul#messages li pseudo {
	margin-left: 5px;
	margin-right: 13px;
	color: gray;
}

lobby chat ul#messages li contents img {
	height: 25px;
}

/* Game */

game {
	display: flex;
	flex-direction: column;
}

game.invisible {
	display: none;
}

game article {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 40px;
}

game article timer {
	flex: 0.075;
	margin-top: 4px;
	margin-bottom: -3px;
	padding: 10px 15px;
	text-align: center;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.4) inset;
	border-radius: 5px;
}


game article others {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

game article others player {
	display: flex;
	flex-direction: column;
	max-height: 50%;
	margin: 10px;
	border: 7px outset rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15) inset, 0 0 1px 3px rgba(0, 0, 0, 0.15);
}

game article others player name {
	line-height: 20px;
	text-align: center;
	font-size: 12px;
}

game article others player field {
	flex: 1;
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.5);
}

game article others player field row {
	flex: 1;
	display: flex;
	flex-direction: row;
}

game article others player field row square {
	flex: 1;
	border-radius: 0;
	box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.2) inset;
}
