* {
	margin: 0;
	padding: 0;
}

board {
	display: flex;
	padding: 20px;
	background: silver;
}

well, hitboxes, next {
	display: flex;
	border: 6px solid gray;
	background: black;
}

well, hitboxes {
	margin-right: 20px;
}

hitboxes {
	flex-wrap: wrap;
	background: white;
}

next {
	align-items: center;
	justify-content: center;
}

tetrimino {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
}

tetrimino, square {
	transition: all 0.13s ease;	
}

square {
	font-size: 12px;
	line-height: 200%;
	text-align: center;
	box-shadow: 0 0 1px 1px black inset;
}

well > square {
	position: absolute;
	display: block;
}

square.O {
	background-color: yellow;
}

square.I {
	background-color: cyan;
}

square.S {
	background-color: green;
}

square.Z {
	background-color: red;
}

square.L {
	background-color: orange;
}

square.J {
	background-color: blue;
}

square.T {
	background-color: purple;
}

square.invisible {
	background-color: transparent;
	box-shadow: none;
}
